<header>
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky bg-dark py-1; cls-inactive: uk-navbar-transparent uk-light; top: 200;">

        <nav class="uk-navbar-container uk-overlay uk-position-top">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>

                    <div class="uk-navbar-left">

                            <a class="uk-navbar-item uk-logo" href="#">
                            <img src="{{ asset('build/Logo.png') }}" alt="" width="120" height="120">
                            </a>
                            <div class="uk-navbar-item uk-invisible">
                                <form class="uk-search uk-search-navbar">
                                    <a href="" style="color:rgb(156, 156, 156); z-index:6; margin-left: 10px; margin-right: 10px;" uk-search-icon></a>
                                    <input id="Folow" class="uk-search-input uk-border-pill text-light" type="search" placeholder="&nbsp;&nbsp;Rechercher une recette">
                                </form>
                            </div>

                    </div>
                    <div class="uk-navbar-right">

                      <ul class="uk-navbar-nav">
                          <li>
                            <a href="#">
                              <img class="uk-margin-large-right" src="{{asset('build/home_menu.png')}}" width="150">
                            </a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">

                                  <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                      <div>
                                          <ul class="uk-nav uk-navbar-dropdown-nav">
                                              {% if app.user %}
                                              <li><a class="uk-active uk-text-uppercase uk-text-bolder uk-nav-header" href="{{ path('user_show', { 'id': app.user.id }) }}">Mon Compte&nbsp;</a></li>
                                              <li><a href="{{ path('create_recette_new') }}">Créer une nouvelle recette</a></li>
                                              {% if app.user and ('ROLE_ADMIN' in app.user.roles ? app.user.roles|json_encode : '') %}
                                              <li><a href="{{ path('create_recette_new') }}">Créer une nouvelle recette</a></li>
                                              <li><a href="{{ path('create_recette_index') }}">Tables des recette</a></li>
                                              <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                                              {% endif %}
                                              {% else %}
                                              <li><a class="uk-active uk-text-uppercase uk-text-bolder uk-nav-header" href="{{ path('app_login') }}">Cook</a></li>
                                              {% endif %}
                                              <li class="uk-nav-header uk-text-uppercase uk-text-bolder">Recettes</li>
                                              <li><a href="{{ path('categorie_nouveaute') }}">Nos Recettes</a></li>
                                              <li><a href="{{ path('categorie_entrees') }}">Entrées</a></li>
                                              <li><a href="{{ path('categorie_plats') }}">Plats</a></li>
                                              <li><a href="{{ path('categorie_deserts') }}">Déserts</a></li>
                                              <li><a href="{{ path('categorie_vegetarien') }}">Végétarien</a></li>
                                              <li class="">
                                              {% if app.user %}
                                              <li class="uk-nav-divider mr-5 mb-3 uk-margin-top"></li>
                                              <li><a class="uk-text-bolder" href="{{ path('app_logout') }}">Déconnexion&nbsp;<span uk-icon="icon: sign-out"></span></a></li>
                                              {% else %}
                                              {% endif %}
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="uk-cover-container uk-margin-remove">
                                          <ul class="uk-nav uk-navbar-dropdown-nav">
                                              <img src="{{asset('build/assiette.jpg')}}" uk-cover>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="mt-3">
                              {% if app.user %}
                              <a class="pb-3" href="{{ path('user_show', { 'id': app.user.id }) }}">Bienvenue {{ app.user.username }}
                                <img style="vertical-align: middle;" class="mb-1 ml-1" src="https://img.icons8.com/offices/30/000000/cook-male.png"/>
                              </a>
                              {% else %}
                              <a class="pb-3" href="{{ path('app_login') }}" uk-icon="icon: user">Connexion&nbsp;&nbsp;</a>
                              {% endif %}
                          </li>
                      </ul>

                    </div>


                </div>
            </div>
        </nav>
    </div>
<img class="w-100" src="{{ asset('build/renovation.jpg') }}" alt="">



  <div class="container uk-flex uk-flex-center uk-position-center uk-margin-medium-top">
    <div class="row blockquote Cyril text-white">
      <h1 class="text-white uk-heading-large text-center" style="font-family: 'Pacifico', cursive; ">" Gourmant, Croquant "</h1>
      <h3 class="blockquote-footer text-white text-center"><em class="text-white"> Cyril Lignac </em></h3>
    </div>
  </div>

  <section>
    <a href="#love" class="scroll-down" address="true" uk-scroll></a>
  </section>
</header>
