{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <body class="registration">
   <!-- {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}-->
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="card card-register shadow" style="width: 50rem; border-radius: 30px;">
    <div class="card-body mx-5 my-3">
    <h2 class="card-title mb-2 text-center">Inscription</h2>
    <p class="card-text">
     {{ form_start(registrationForm, {label_attr: {class: 'form-group'} }) }}
        <div class="form-group col-md-4">
            {{ form_row(registrationForm.gender, {label: 'Sexe'}) }}
        </div>
            {{ form_row(registrationForm.username, {label_attr: {class: 'mt-3'}} ) }}
        <div class="row">
            <div class="col mt-3">
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="col mt-3" >
            {{ form_row(registrationForm.birthdate) }}
            </div>
        </div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password', label_attr: {class: 'mt-3'}
            }) }}
        <div class="row">

        </div>
        {{ form_row(registrationForm.email, {label_attr: {class: 'mt-3'} }) }}
        <div class="card-text bg-white mt-5">
            <div class="row">
            <div class="col">
                <button "submit" class="btn btn-warning">Register</button>
            </div>
            <div class="col">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
    {{ form_end(registrationForm) }}
    </div>
    </p>
    </div>
    </div>

    </body>


{% endblock %}
