{{ form_start(form) }}
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.gender, {label: 'Sexe'}) }}
        </div>
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.username, {class: 'uk-input'} ) }}
        </div>
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.firstname) }}
        </div>
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.lastname) }}
        </div>
        <div class="uk-width-1-1 uk-margin" >
            {{ form_row(form.birthdate) }}
        </div>
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.password) }}
        </div>
        <div class="uk-width-1-1 uk-margin">
            {{ form_row(form.email) }}
        </div>
    <button class="btn btn-dark uk-margin">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
