{{ form_start(form) }}
<div class="row">
  <div class="col">
    {{ form_row(form.user) }}
    {{ form_row(form.createdAt) }}
  </div>
  </div>
  <div class="row">
  <div class="col">
    {{ form_widget(form.photo) }}
    <div class="js-upload uk-placeholder uk-text-center uk-width-1-1 uk-height-medium"><br><br><br><br>
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Attach binaries by dropping them here or</span>
    <div uk-form-custom>
        <input type="file" multiple>
        <span class="uk-link">selecting one</span>
    </div>
  </div>
  <div class="col">
    <div class="uk-width-1-1 uk-margin">
          {{ form_label(form.TitreRecette, 'Titre') }}
          {{ form_widget(form.TitreRecette) }}
          {{ form_row(form.Difficulte) }}
          {{ form_row(form.TempsCuisson) }}
          {{ form_row(form.TempsPreparation) }}
          {{ form_row(form.NbPersonnes) }}
    </div>
  </div>
  <div class="col">
    {{ form_row(form.Presentation) }}
    {{ form_row(form.ingredients) }}
    {{ form_row(form.instruments) }}
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="uk-width-1-1 uk-margin">
    {{ form_row(form.recette) }}
    </div>
  </div>
</div>
</div>

    <button class="btn btn-info uk-margin">
        <img class="mr-1" src="https://img.icons8.com/fluent/48/000000/save.png"  width="25"/>{{ button_label|default('enregistrer') }}
    </button>
{{ form_end(form) }}
