{% extends 'base.html.twig' %}

{% block title %}{{ create_recette.TitreRecette }}{% endblock %}

{% block body %}
    <h1>{{ create_recette.TitreRecette }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom recette : </th>
                <td>{{ create_recette.TitreRecette }}</td>
            </tr>
            <tr>
                <th>Présentation : </th>
                <td>{{ create_recette.Presentation }}</td>
            </tr>
            <tr>
                <th>Pour : </th>
                <td>{{ create_recette.NbPersonnes }}</td>
            </tr>
            <tr>
                <th>Temps de préparation : </th>
                <td>{{ create_recette.TempsPreparation ? create_recette.TempsPreparation|date('H : i') : '' }} Heure(s)</td>
            </tr>
           <tr>
                <th>Temps de cuisson : </th>
                <td>{{ create_recette.TempsCuisson ? create_recette.TempsCuisson|date('H : i') : '' }} Heure(s)</td>
            </tr>
            <tr>
                <th>Difficulté de la recette : </th>
                <td>{{ create_recette.Difficulte }}</td>
            </tr>
            <tr>
                <th>Photo : </th>
                <td><a href="{{ asset('uploads/photos/' ~ create_recette.photoFilename) }}"><img src="{{ asset('uploads/photos/' ~ create_recette.photoFilename) }}" width="50px" height="auto"></a></td>
            </tr>
            <tr>
                <th>Note : </th>
                <td>
                {% set size = create_recette.ratings | length %}
                {% if size > 0 %}
                    {% set somme = 0.0 %}
                    {% set compteur = 0 %}
                    {% for ratings in create_recette.ratings %}
                        {% set somme = somme + ratings.note %}
                        {% set compteur = compteur + 1 %}
                    {% endfor %}
                    {{ somme / compteur }}
                {% else %}
                    Il n'y a pas de notes.
                {% endif %}</td>
                {% if app.user %}
                <th>Votre note : </th>
                <td>{{ include('rating/_form.html.twig') }}</td>
                {% endif %}
            </tr>    
     
        </tbody>
    </table>

    <br/>
    <h1>Commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Note</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
 
            <tr>
            {% for ratings in create_recette.ratings %}
                <td>{{ ratings.user.username }}</td>
                <td>{{ ratings.note }}</td>
                <td>{{ ratings.commentaire }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Il n'y a pas de notes et/ou commentaires</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>

    <a href="{{ path('create_recette_index') }}">Retour a mes recettes</a>
    
    
    {% if app.user and ('ROLE_ADMIN' in app.user.roles ? app.user.roles|json_encode : '' or app.user.username == create_recette.user.username) %}
        <a href="{{ path('create_recette_edit', {'id': create_recette.id}) }}">edit</a>
        {{ include('create_recette/_delete_form.html.twig') }}
    {% endif %}

    
    
 
{% endblock %}
